@font-face {
	font-family: Pipboy;
	src: url('../monofonto.ttf');
}

body {
	font-family: Pipboy, sans-serif;
	color: #14fe17;
	background: #272b23;
}

body::after {
	height: 100%;
	width: 100%;
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	background: repeating-linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.4) 1px, transparent 1px, transparent 2px);
	opacity: .3;
	z-index: 1000000;
	pointer-events: none;
}


.navbar.navbar-light {
	border-bottom:2px solid;
	margin:0px 10px;
}

.navbar.navbar-light::before, .navbar::after {
	height:7px;
	width: 2px;
	content: "";
	position: absolute;
	display: block;
	z-index: 5000;
	background: #14fe17;
	bottom: -8px;
}

.navbar::before {
	left: 0px;
}

.navbar::after {
	right: 0px;
}

ul > li.nav-item > a.nav-link, ul > li.navbar-item.active > a.nav-link {
	color: #14fe17 !important;
	font-size: 32px;
	line-height: 22px;
	padding-bottom: 0px;
}

.navbar-item.active::before {
	content:"";
	position: absolute;
	background: #f00;
	width: 100%;
	height: 18px;
	top: 22px;
	background: #272b23;
	border-left: 2px solid;
	border-right: 2px solid;
	border-top: 2px solid;
	left: 0px;
}

.navbar-light .navbar-nav > li.nav-item > .nav-link,
.navbar-light .navbar-nav > li.navbar-item.active > .nav-link {
	text-align: center;
	margin: auto;
	font-size: 32px;
	line-height: 22px;
	padding-bottom: 0px;
	z-index: 50;
	position: relative;
	background: #272b23;
}

.navbar-nav {
	width: 100%;
}

.navbar-light ul.navbar-nav > li {
	dislay: block;
	position: relative;
	width: 100%;
}

.center-image {
	position: absolute;
	margin: auto;
	width: 100%;
}

.center-image img {
	margin: auto;
	display: block;
	position: relative;
	max-height: 300px;
	margin-top: 100px;
	filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(5) 
			brightness(1) contrast(2);	
}


.pip-footer {
	position: fixed;
	bottom: 0;
	width: calc(100% - 20px);
	margin: 10px;
}

#row1 {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 10px;
	background: rgba(16, 255, 0, 0.15);	
}

#row2 {
	position: 
}

.navbar.navbar-light .navbar-nav{
	margin: 0px 200px;
}

.navbar.navbar-light .navbar-nav > li {
	padding: 0px 20px;
}

.nav.nav-tabs {
	margin: 20px;
	border-bottom: none;
}

.nav.nav-tabs > .nav-item > .nav-link:hover{
	border: 1px solid transparent;
}

.nav.nav-tabs >li > a {
	font-size: 26px !important;
	background: transparent !important;
	border: 1px solid transparent !important;
	padding: 5px 10px;
}

.nav.nav-tabs > li:nth-child(2) > a {
	opacity: .5;
}

.nav.nav-tabs > li:nth-child(3) > a {
	opacity: .2;
}

.level-progress {
	width: 90%;
	height: 10px;
	border: 2px solid;
	display: inline-block;
	width: 70%
}

.level-progress-indicator {
	height: 6px;
	background: #14fe17;
	width: 70%;
}

.navbar.navbar-light.pip-footer {
	border: none;
}

.stat-bar {
	width: 60px;
	margin: auto;
}
